<h1>Listing people</h1>

<table>
  <tr>
    <th>Firstname</th>
    <th>Familyname</th>
    <th>Gender</th>
    <th>Dateofbirth</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @people.each do |person| %>
  <tr>
    <td><%= person.firstname %></td>
    <td><%= person.familyname %></td>
    <td><%= person.gender %></td>
    <td><%= person.dateofbirth %></td>
    <td><%= link_to 'Show', person %></td>
    <td><%= link_to 'Edit', edit_person_path(person) %></td>
    <td><%= link_to 'Destroy', person, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Person', new_person_path %>
